body {
  background-image: url(../images/background-photo.jpg);
  background-size: cover 100%;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  background-color: hsla(360, 100%, 100%, 0.3);
  font-family: 'Quicksand', sans-serif;
}

nav li {
  list-style: none;
  font-family: 'Oxygen', sans-serif;
}

nav li i{
  color:#5E2626;
  font-weight: bold;
  text-shadow: 1px 0 0 hsla(360, 100%, 100%, 0.3), -1px 0 0 hsla(360, 100%, 100%, 0.3), 0 1px 0 hsla(360, 100%, 100%, 0.3), 0 -1px 0 hsla(360, 100%, 100%, 0.3), 1px 1px hsla(360, 100%, 100%, 0.3), -1px -1px 0 hsla(360, 100%, 100%, 0.3), 1px -1px 0 hsla(360, 100%, 100%, 0.3), -1px 1px 0 hsla(360, 100%, 100%, 0.3);
  font-size: 1.2em;
}

nav li a{
  text-decoration: none;
  color:#5E2626;
  text-shadow: 1px 0 0 hsla(360, 100%, 100%, 0.3), -1px 0 0 hsla(360, 100%, 100%, 0.3), 0 1px 0 hsla(360, 100%, 100%, 0.3), 0 -1px 0 hsla(360, 100%, 100%, 0.3), 1px 1px hsla(360, 100%, 100%, 0.3), -1px -1px 0 hsla(360, 100%, 100%, 0.3), 1px -1px 0 hsla(360, 100%, 100%, 0.3), -1px 1px 0 hsla(360, 100%, 100%, 0.3);
  font-size: 1.2em;
  font-family: 'Oxygen', sans-serif;
}

p, li {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
}

.article-body {
  background-color: hsla(150, 100%, 100%, 0.7);
  margin-bottom: 4%;
}

#about p {
  background-color: hsla(150, 100%, 100%, 0.7);
  margin-bottom: 4%;

}
