body {
  background-image: url(../images/background-photo.jpg);
  background-size: 100%;
  background-position: center;
}

.template {
  display: none;
}

h1 {
  background-color: hsla(360, 100%, 100%, 0.3);
}

#articles h1 {
  border-bottom: 4px solid hsla(33, 19%, 28%, .7);
}

nav li {
  list-style: none;
}
nav li a{
  text-decoration: none;
  color:#5E2626;
  font-weight: bold;
}

p {
  font-size: 16px;
}

footer img{
  height: 50px;
}

.article-body {
  background-color: hsla(150, 100%, 100%, 0.7);
  margin-bottom: 4%;
}
